<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joshwgu.schoolplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolPlanner">
        <activity
            android:name=".userinterface.InstructorDetailController"
            android:exported="false" />
        <activity
            android:name=".userinterface.InstructorController"
            android:exported="false" />
        <activity
            android:name=".userinterface.NoteDetailController"
            android:exported="false" />
        <activity
            android:name=".userinterface.NoteController"
            android:exported="false" />
        <activity
            android:name=".userinterface.AssessmentDetailController"
            android:exported="false" />
        <activity
            android:name=".userinterface.CourseDetailController"
            android:exported="false" />
        <activity
            android:name=".userinterface.TermDetailController"
            android:exported="false" />
        <activity
            android:name=".userinterface.AssessmentController"
            android:exported="false" />
        <activity
            android:name=".userinterface.CourseController"
            android:exported="false" />
        <activity
            android:name=".userinterface.TermController"
            android:exported="false"
            android:parentActivityName=".userinterface.MainActivity" />
        <activity
            android:name=".userinterface.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>